{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <a href="{{ path('register') }}">Créer un compte</a>
    <a href="{{ path('login') }}">Connexion</a>
{% endblock %}
