{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{% if app.user %}
    <h1>Vous êtes connecté en tant que {{ app.user.email }}</h1>
    {% else %}
    <h1>Vous n'êtes pas connecté</h1>

    <br />

    <p>Vous pouvez avoir un aperçu de ce à quoi ressemble l'application en mode démo uniquement.</p>

    <br />

    <p>
        <a href="{{ path('contacts_demo') }}" class="navlink">Voir la démo</a>
    </p>
{% endif %}

{% endblock %}
