{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{% if app.user %}
    <h1>Vous êtes connecté en tant que {{ app.user.email }}</h1>
    {% else %}
    <h1>Vous n'êtes pas connecté</h1>

{% endif %}

{% endblock %}
