/*
***********************************
MEDIA QUERIES
***********************************
*/
:root {
  --body-bg: linear-gradient(
		90deg,
		rgba(21, 30, 34, 1) 21%,
		rgba(20, 27, 28, 1) 37%,
		rgba(20, 21, 23, 1) 52%,
		rgba(23, 19, 16, 1) 81%,
		rgba(1, 1, 1, 1) 98%
	);
  --body-bg-small: linear-gradient(
		90deg,
		rgba(21, 30, 34, 1) 21%,
		rgba(20, 27, 28, 1) 37%,
		rgba(20, 21, 23, 1) 52%,
		rgba(23, 19, 16, 1) 81%,
		rgba(1, 1, 1, 1) 98%
	);
  --transparent: rgba(255, 255, 255, 0);
  --semi-transparent: #29292940;
  --alert: #0a0a0ad0;
  --btn-color: #312e29a4;
  --hover-color: #e78d06;
  --card-header: #00000069;
}

p,
a,
span,
h1,
h2,
h3,
h4,
h5,
label,
input,
.required,
.input-textarea,
.span-italic,
.nav-link,
.infos,
table,
select,
ul li,
.container {
  font-family: "Montserrat", sans-serif;
  color: wheat !important;
  text-shadow: 3px 1px 6px #070707;
}

h2 {
  text-align: center;
  font-weight: 500;
  display: block;
  margin-bottom: 25px !important;
}

body {
  height: 100vh;
  background: var(--body-bg);
  background-size: cover;
  opacity: 1;
  -webkit-animation-name: fadeInOpacity;
          animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@media (min-width: 300px) and (max-width: 576px) {
  body {
    background: var(--body-bg-small);
    background-size: cover;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  body {
    background: var(--body-bg-small);
    background-size: cover;
  }
}

@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body,
html {
  position: relative;
  height: 100%;
}

.hr-white {
  height: 1px;
  border: 0;
  width: 90%;
  margin: 20px auto;
  background: #e2e2e2;
  background: radial-gradient(circle, #f0f0f0 0%, rgba(255, 255, 255, 0.144) 50%, rgba(255, 254, 254, 0) 100%);
}

.alert,
.alert-success {
  background-color: var(--alert);
  border: none;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1200;
  font-size: 2.5em;
}

@media (min-width: 300px) and (max-width: 576px) {
  .alert,
  .alert-success {
    font-size: 1.8em;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .alert,
  .alert-success {
    font-size: 1.8em;
  }
}

#remember_me,
#registration_form_agreeTerms {
  width: inherit !important;
}

ul li {
  list-style-type: none;
  margin-bottom: 5px;
}

table tr td {
  font-size: 1.3em;
  font-weight: bold;
}

@media (min-width: 300px) and (max-width: 576px) {
  table tr td {
    font-size: 0.9em;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  table tr td {
    font-size: 0.9em;
  }
}

a:hover {
  color: white !important;
}

.span-italic {
  font-style: italic;
}

p {
  word-wrap: break-word;
}

/*********************
MODALS
*********************/
.modal-open {
  color: wheat;
}

/*********************
BUTTONS
*********************/
.btn:active,
.btn:focus {
  border: none;
  outline: none;
}

.custom-btn,
.btn-danger {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border: none;
  padding: 0.45rem 0.45rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.767) 0 0 7px 1px, inset 0 -5px 20px rgba(0, 0, 0, 0.4), inset 0 5px 20px rgba(255, 255, 255, 0.4), -8px 8px 5px rgba(0, 0, 0, 0.15), 5px 18px 10px rgba(0, 0, 0, 0.2);
          box-shadow: rgba(0, 0, 0, 0.767) 0 0 7px 1px, inset 0 -5px 20px rgba(0, 0, 0, 0.4), inset 0 5px 20px rgba(255, 255, 255, 0.4), -8px 8px 5px rgba(0, 0, 0, 0.15), 5px 18px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.custom-btn:after,
.btn-danger:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--btn-color);
  border-radius: 10rem;
  z-index: -2;
}

.custom-btn:before,
.btn-danger:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--hover-color);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 10rem;
  z-index: -1;
}

.custom-btn:hover,
.btn-danger:hover {
  color: #fff;
  -webkit-box-shadow: black 0 0 2px 1px;
          box-shadow: black 0 0 2px 1px;
}

.custom-btn:hover:before,
.btn-danger:hover:before {
  width: 100%;
}

.custom-btn-left,
.custom-btn-right,
.twitter-share-button {
  padding: 0;
}

.btn-settings {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-settings,
.btn-danger.btn-settings {
  font-size: 2em !important;
}

button[type="submit"],
button.custom-btn {
  background-color: var(--btn-color);
}

#toTop {
  display: inline-block;
  text-decoration: none;
  background-color: var(--hover-color);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#toTop::after {
  content: "\2191";
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#toTop:hover {
  cursor: pointer;
  background-color: var(--semi-transparent);
}

#toTop:active {
  background-color: #555;
}

#toTop.show {
  opacity: 1;
  visibility: visible;
}

#btnWelcomeModal {
  visibility: hidden;
  display: none;
}

#welcomeModal {
  overflow-y: auto;
}

.btn-encouragements-invisible {
  display: none !important;
}

/*********************
NAV MENU
*********************/
.main-icon img {
  width: 58px;
}

.navbar {
  background-color: var(--semi-transparent) !important;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.644) 0 0 7px 1px;
          box-shadow: inset rgba(0, 0, 0, 0.644) 0 0 7px 1px;
}

.navbar-toggler {
  color: white !important;
  outline: none !important;
  border: none !important;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.collapsed {
  -webkit-transform: rotate(90deg) !important;
          transform: rotate(90deg) !important;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.726) !important;
}

.dropdown-menu.show {
  top: 57px;
  border-radius: 0 0 20px 20px;
}

.nav-item {
  margin-left: 50px;
}

.nav-link:hover {
  color: var(--hover-color) !important;
}

.nav-item,
.dropdown-item {
  font-size: 1.3em;
}

.dropdown-item:hover {
  background-color: #1d1d1d !important;
}

.dropdown-toggle::after {
  border-top: 0;
}

/*********************
SOCIALS ICONS
*********************/
.social-icons {
  position: fixed;
  margin: 1.5%;
  top: 70%;
  z-index: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-icons img {
  width: 65px;
  height: 65px;
}

@media (min-width: 300px) and (max-width: 576px) {
  .social-icons img {
    width: 35px;
    height: 35px;
    margin: -2%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .social-icons img {
    width: 35px;
    height: 35px;
    margin: -2%;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  .social-icons {
    position: absolute;
    top: 46px;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .social-icons {
    position: absolute;
    top: 46px;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.social-twitter-img,
.social-fb-img {
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.social-twitter-img:hover,
.social-fb-img:hover {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

/**********************
CONTAINER
**********************/
.logo-alcool-info {
  text-align: center;
}

.logo-alcool-info img {
  width: 265px;
  height: 46px;
}

@media (min-width: 300px) and (max-width: 576px) {
  .logo-alcool-info img {
    width: 177px;
    height: 32px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .logo-alcool-info img {
    width: 177px;
    height: 32px;
  }
}

.container {
  padding: 60px;
  min-height: calc(100vh - 262px);
}

@media (min-width: 300px) and (max-width: 576px) {
  .container {
    width: 100%;
    min-height: calc(100vh - 308px);
    padding: 20px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container {
    width: 100%;
    min-height: calc(100vh - 308px);
    padding: 20px;
  }
}

.container p img {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  height: auto;
  -webkit-box-shadow: black 0 0 7px 1px;
          box-shadow: black 0 0 7px 1px;
}

@media (min-width: 300px) and (max-width: 576px) {
  .container p img {
    width: 320px !important;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container p img {
    width: 320px !important;
  }
}

.container-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/**********************
SOCIAL ICON & DIV ICON
**********************/
.social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.alcool-png {
  width: 35px;
  height: 35px;
}

.social-img {
  width: 62px;
  height: 62px;
}

.social-div {
  background: #00000082;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  height: 64px;
  border-radius: 20px;
  -webkit-box-shadow: inset black 0 0 5px 3px;
          box-shadow: inset black 0 0 5px 3px;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.social-div:hover {
  background: var(--hover-color);
  -webkit-box-shadow: inset black 0 0 1px 1px;
          box-shadow: inset black 0 0 1px 1px;
}

.info-icon {
  width: 40px;
  height: 40px;
}

.info-btn:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/**********************
HOMEPAGE
**********************/
/*********************
BIG TEXT ANIM
*********************/
.big-title-wrapper {
  height: 300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  background-color: var(--semi-transparent);
}

.grid-big-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3em;
}

@media (min-width: 300px) and (max-width: 576px) {
  .grid-big-text {
    margin-bottom: 1em;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .grid-big-text {
    margin-bottom: 1em;
  }
}

.small {
  width: 40px;
  height: 40px;
  -webkit-animation: glow 2500ms linear infinite 2000ms;
          animation: glow 2500ms linear infinite 2000ms;
}

@media (min-width: 576px) and (max-width: 768px) {
  .small {
    width: 14px;
    height: 14px;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  .small {
    width: 10px;
    height: 10px;
  }
}

@-webkit-keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

.square {
  pointer-events: none;
  position: relative;
  width: 70px;
  height: 50px;
  margin: 2px;
  background-color: var(--transparent) !important;
  font-size: 6em;
  color: wheat;
  font-weight: 100;
}

@media (min-width: 576px) and (max-width: 768px) {
  .square {
    width: 30px;
    height: 17px;
    font-size: 3em;
    margin-bottom: 1em;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  .square {
    width: 30px;
    height: 17px;
    font-size: 3em;
    margin-bottom: 1em;
  }
}

.yellow-big {
  color: var(--hover-color);
}

.home-text {
  text-align: justify;
  font-size: 1.2em;
}

.home-stats-img img {
  width: 100%;
}

/**********************
INPUTS
**********************/
select,
input,
.input,
#contact_captcha,
.input-textarea {
  display: block;
  border-radius: 20px;
  width: 100%;
  margin: 15px 0px;
  background: rgba(0, 0, 0, 0.322);
  padding: 5px;
  border: none;
  text-align: left;
  -webkit-box-shadow: inset 2px 2px 3px black;
          box-shadow: inset 2px 2px 3px black;
}

select:focus,
input:focus,
.input:focus,
#contact_captcha:focus,
.input-textarea:focus {
  outline-color: var(--hover-color);
}

.input-textarea {
  height: 150px;
}

input::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(1);
          filter: invert(1);
}

/**********************
FORM
**********************/
form[name="alcool_test"] {
  font-size: 1.3em;
}

@media (min-width: 300px) and (max-width: 576px) {
  form[name="alcool_test"] {
    font-size: 1.5em !important;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  form[name="alcool_test"] {
    font-size: 1.5em !important;
  }
}

form[name="drink"] {
  margin: auto;
}

select option {
  background: rgba(3, 3, 3, 0.849);
}

/**********************
SOBER
**********************/
.sober-card {
  overflow-y: scroll !important;
}

/*********************
SOCIALS ICONS
*********************/
.badge-img {
  width: 150px;
  height: 150px;
}

@media (min-width: 300px) and (max-width: 576px) {
  .badge-img {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .badge-img {
    width: 100px;
    height: 100px;
  }
}

/**********************
MYCHART
**********************/
#myChart,
#myChart2 {
  width: 600px !important;
  height: 600px !important;
  margin: inherit;
}

@media (min-width: 300px) and (max-width: 576px) {
  #myChart,
  #myChart2 {
    width: 300px !important;
    height: 300px !important;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  #myChart,
  #myChart2 {
    width: 300px !important;
    height: 300px !important;
  }
}

/*SCORES*/
.greenScore {
  color: #0dbd0d !important;
}

.middleScore {
  color: orange !important;
}

.hardScore {
  color: #ff3300 !important;
}

.dangerScore {
  color: red !important;
  font-weight: bold;
}

/*********************
CARD CONSO
*********************/
.card {
  height: 300px;
  width: 212px;
  margin: 13px;
  box-shadow: -6px 0px 7px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -6px 0px 7px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -6px 0px 7px 1px rgba(0, 0, 0, 0.75);
  background: #8fa6ad;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(143, 166, 173, 0.927609)), color-stop(31%, #53637c), color-stop(49%, #3f3e5d), color-stop(72%, #392a3d), color-stop(95%, #171118));
  background: linear-gradient(90deg, rgba(143, 166, 173, 0.927609) 8%, #53637c 31%, #3f3e5d 49%, #392a3d 72%, #171118 95%);
  border: 0;
  border-radius: 0 17px;
  margin-bottom: 2em;
  margin-right: -50px;
  opacity: 0.5;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: perspective(1000px) rotateY(45deg);
          transform: perspective(1000px) rotateY(45deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.75);
  -webkit-transform: perspective(800px) rotateY(0deg);
          transform: perspective(800px) rotateY(0deg);
  opacity: 1;
  margin-right: 10px;
}

@media (min-width: 300px) and (max-width: 576px) {
  .card {
    width: 320px;
    -webkit-transform: perspective(0) rotateY(0deg);
            transform: perspective(0) rotateY(0deg);
    opacity: 1;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .card {
    width: 320px;
    -webkit-transform: perspective(0) rotateY(0deg);
            transform: perspective(0) rotateY(0deg);
    opacity: 1;
  }
}

.card:first-of-type {
  background: #2e2e2e21;
}

.card-text {
  font-size: 1.5em;
}

.card-header {
  border-radius: 0 17px 0 0 !important;
  background: var(--card-header);
}

.card-header,
.card-body {
  text-align: center;
}

/*********************
REGISTRATION & LOGIN
*********************/
#registration_form_email,
#registration_form_plainPassword {
  background: var(--semi-transparent);
}

/*********************
POSTS
*********************/
.search-post {
  width: 320px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.search-post input {
  margin-right: 1.5em;
  border-radius: 20px;
}

.search-post input::-webkit-input-placeholder {
  text-align: center;
}

.search-post input:-ms-input-placeholder {
  text-align: center;
}

.search-post input::-ms-input-placeholder {
  text-align: center;
}

.search-post input::placeholder {
  text-align: center;
}

@media (min-width: 300px) and (max-width: 576px) {
  .search-post input {
    margin-top: 2em;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .search-post input {
    margin-top: 2em;
  }
}

#label-form {
  text-align: center;
}

/*********************
FOOTER
*********************/
footer {
  clear: both;
  width: 100%;
  margin-top: 50px;
  background-color: var(--semi-transparent);
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.596) 0 0 7px 1px;
          box-shadow: inset rgba(0, 0, 0, 0.596) 0 0 7px 1px;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 300px) and (max-width: 576px) {
  footer div {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1em;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  footer div {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1em;
  }
}

/**********************
PAGINATOR
**********************/
.pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.first,
.current,
.page,
.next,
.previous,
.last {
  padding-right: 0.6em;
  padding-left: 0.6em;
  font-size: 1.4em;
}

.current {
  font-size: 2em !important;
}

/*********************
ARGUMENTS & OBJECTIFS
*********************/
.flex-left-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 300px) and (max-width: 576px) {
  .flex-left-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .flex-left-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.left,
.right {
  width: 50%;
}

/*********************
BLOG
*********************/
@media (min-width: 300px) and (max-width: 576px) {
  iframe {
    max-width: 320px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  iframe {
    max-width: 320px;
  }
}

/*********************
BIG TEXT ANIM
*********************/
.big-title-wrapper {
  height: 300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  background-color: var(--transparent);
}

.grid-big-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3em;
}

@media (min-width: 300px) and (max-width: 576px) {
  .grid-big-text {
    margin-bottom: 1em;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .grid-big-text {
    margin-bottom: 1em;
  }
}

.small {
  width: 40px;
  height: 40px;
  -webkit-animation: glow 2500ms linear infinite 2000ms;
          animation: glow 2500ms linear infinite 2000ms;
}

@media (min-width: 576px) and (max-width: 768px) {
  .small {
    width: 14px;
    height: 14px;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  .small {
    width: 10px;
    height: 10px;
  }
}

@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

.square {
  pointer-events: none;
  position: relative;
  width: 70px;
  height: 50px;
  margin: 2px;
  background-color: var(--semi-transparent);
  font-size: 6em;
  color: wheat;
  font-weight: 100;
}

@media (min-width: 576px) and (max-width: 768px) {
  .square {
    width: 30px;
    height: 17px;
    font-size: 3em;
    margin-bottom: 1em;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  .square {
    width: 30px;
    height: 17px;
    font-size: 3em;
    margin-bottom: 1em;
  }
}

.yellow-big {
  color: var(--hover-color);
}

/*********************
LOADER ANIM
*********************/
.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  -webkit-perspective: 800px;
          perspective: 800px;
}

.inner {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  -webkit-animation: rotate-one 1s linear infinite;
          animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid wheat;
}

.inner.two {
  right: 0%;
  top: 0%;
  -webkit-animation: rotate-two 1s linear infinite;
          animation: rotate-two 1s linear infinite;
  border-right: 3px solid wheat;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  -webkit-animation: rotate-three 1s linear infinite;
          animation: rotate-three 1s linear infinite;
  border-top: 3px solid wheat;
}

@-webkit-keyframes rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
/*# sourceMappingURL=style.css.map */