{% extends "base.html.twig" %}

{% block body %}

<h3>Exporter les emails de vos contacts en un fichier CSV</h3>

{{form_start(form)}}
{{form_row(form.title)}}
<br/>
{{form_row(form.submit)}}
{{form_end(form)}}

{% endblock %}